article{
    padding-left: 25px;
    padding-right: 25px;
}

#explore-section-content{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

#explore-title{
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    justify-content: flex-start;
}

#explore-hr{
    margin-top: 0px;
    margin-right: 25px;
}

#explore-title div{
    font-size: 1.15rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;

    
    margin-top: 0px;
    margin-bottom: 0px;
}



#explore-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

#explore-main-container img {
    width: 100%;
    border-radius: 10px;
}


/*
#explore-main-container:hover{
    cursor: pointer;
    filter: brightness(0.85);
}
*/

#explore-articles-container{
    display: flex;
    border: var(--section-temp-border);
    margin-left: 30px;
    flex-grow: 1;
}

.explore-articles-item{
    display: flex;
}

.explore-articles-item-img{
    height: 100px;
    width: 100px;
}


