:root{
    --nav-temp-border: 0px solid red;
    --section-temp-border: 1px solid black;
    --primary-color: #ffffee;
    --text-color-secondary: #585F65;
}

body{
    margin: 0px;
    background-color: #ecedee;
    font-family: proxima-nova-bold, Arial, sans-serif;
}

@font-face{
    font-family: proxima-nova-bold;
    src: url('fonts/ProximaNova-Bold.otf');
}

@font-face {
    font-family: proxima-nova-regular;
    src: url('fonts/ProximaNova-Regular.ttf');
}